footer {
    background-color: white;
    height: 70px;
    width: 100%;
    border-top: 1px solid;
    border-color:  #CCCCCC ;
    bottom: 0;
    position: fixed;
}

footer p {
    justify-content: center;
    align-items: center;
    text-align: center;
}