.places {
    background-color: blueviolet;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
	
}
h1{
    display: inline;
    background-color: aqua;
    font-size: 30px;
    text-align: left;
    margin-top: 0px;
    width: 100%;
}

article {
    display: inline;
    flex-grow: 1;
    flex-shrink: 1;
    width: 390;
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    border-color: #ff5A5F;
    
}